# BIG QUERY

## IMPORTS

In [120]:
!pip install --upgrade google-cloud-language

Requirement already up-to-date: google-cloud-language in /usr/local/lib/python2.7/dist-packages
Requirement already up-to-date: google-gax<0.16dev,>=0.15.13 in /usr/local/lib/python2.7/dist-packages (from google-cloud-language)
Requirement already up-to-date: google-cloud-core<0.27dev,>=0.26.0 in /usr/local/lib/python2.7/dist-packages (from google-cloud-language)
Requirement already up-to-date: googleapis-common-protos[grpc]<2.0dev,>=1.5.2 in /usr/local/lib/python2.7/dist-packages (from google-cloud-language)
Requirement already up-to-date: enum34; python_version < "3.4" in /usr/local/lib/python2.7/dist-packages (from google-cloud-language)
Requirement already up-to-date: requests<3.0dev,>=2.13.0 in /usr/local/lib/python2.7/dist-packages (from google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: dill<0.3dev,>=0.2.5 in /usr/local/lib/python2.7/dist-packages (from google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: ply==3.8 in /usr/local/lib/python2.7/dist-packages (from google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: google-auth<2.0dev,>=1.0.0 in /usr/local/lib/python2.7/dist-packages (from google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: future<0.17dev,>=0.16.0 in /usr/local/lib/python2.7/dist-packages (from google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: grpcio<2.0dev,>=1.0.2 in /usr/local/lib/python2.7/dist-packages (from google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: protobuf<4.0dev,>=3.0.0 in /usr/local/lib/python2.7/dist-packages (from google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: tenacity<5.0.0dev,>=4.0.0 in /usr/local/lib/python2.7/dist-packages (from google-cloud-core<0.27dev,>=0.26.0->google-cloud-language)
Requirement already up-to-date: six in /usr/local/lib/python2.7/dist-packages (from google-cloud-core<0.27dev,>=0.26.0->google-cloud-language)
Requirement already up-to-date: idna<2.7,>=2.5 in /usr/local/lib/python2.7/dist-packages (from requests<3.0dev,>=2.13.0->google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: urllib3<1.23,>=1.21.1 in /usr/local/lib/python2.7/dist-packages (from requests<3.0dev,>=2.13.0->google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: certifi>=2017.4.17 in /usr/local/lib/python2.7/dist-packages (from requests<3.0dev,>=2.13.0->google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python2.7/dist-packages (from requests<3.0dev,>=2.13.0->google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: cachetools>=2.0.0 in /usr/local/lib/python2.7/dist-packages (from google-auth<2.0dev,>=1.0.0->google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: pyasn1>=0.1.7 in /usr/local/lib/python2.7/dist-packages (from google-auth<2.0dev,>=1.0.0->google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: pyasn1-modules>=0.0.5 in /usr/local/lib/python2.7/dist-packages (from google-auth<2.0dev,>=1.0.0->google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: rsa>=3.1.4 in /usr/local/lib/python2.7/dist-packages (from google-auth<2.0dev,>=1.0.0->google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: futures>=2.2.0 in /usr/local/lib/python2.7/dist-packages (from grpcio<2.0dev,>=1.0.2->google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: setuptools in /usr/local/lib/python2.7/dist-packages (from protobuf<4.0dev,>=3.0.0->google-gax<0.16dev,>=0.15.13->google-cloud-language)
Requirement already up-to-date: monotonic>=0.6 in /usr/local/lib/python2.7/dist-packages (from tenacity<5.0.0dev,>=4.0.0->google-cloud-core<0.27dev,>=0.26.0->google-cloud-language)

In [123]:
import pandas as pd
from pandas.tools.plotting import autocorrelation_plot
from pandas.tools.plotting import scatter_matrix

import numpy as np

import matplotlib.pyplot as plt

import google.datalab.bigquery as bq

import tensorflow as tf

import random

# in order to print images in notebook
from IPython.display import Image
from IPython.core.display import HTML

## Get the data

We retrieve data from a Big Query table and put it in a panda frame.

In [124]:
# retrieve data from the Game of Thrones tweets in Big Query
# takes a long time be careful
got = bq.Query.from_table(bq.Table('Series.GOT'), fields=['Text','Language']).execute().result().to_dataframe() #.set_index('Date') to set an index from the rows

In [126]:
# we only keep english tweets and remove duplicates (to have less chance of encountering a "RT")
got_eng = got[got['Language']=="en"].drop_duplicates()
# remove these rows for good
got_eng = got_eng.dropna(axis=0, how='any')

In [127]:
# retrieve data from the Met Table in Big Query (public dataset)
# takes a long time be careful
met = bq.Query('SELECT a.object_id, b.description, b.score FROM `bigquery-public-data.the_met.vision_api_data` as a, unnest(labelAnnotations) as b').execute().result().to_dataframe() #.set_index('object_id') #to set an index from the rows

In [125]:
# quick description of the table
got.describe()

                                                     Text Language
count                                             1920830  1920830
unique                                            1016194       57
top     RT @Kreyz_: Rt si tu le vis bien. https://t.co...       en
freq                                                31573  1343756

In [129]:
# quick description of the table
got_eng.describe()

                                                     Text Language
count                                              724936   724936
unique                                             724936        1
top     Game of thrones has to be the best show on tv ...       en
freq                                                    1   724936

In [130]:
got["Text"][1796586]

'Game Of Thrones fanatikleri buraya https://t.co/oxG5J5LLJC'

In [131]:
met.describe()

           object_id          score
count  935276.000000  935276.000000
mean   283209.129009       0.711613
std    187267.527939       0.119919
min        33.000000       0.500001
25%    103065.000000       0.619591
50%    261891.500000       0.696712
75%    421758.000000       0.792783
max    746939.000000       0.993372

In [132]:
met

        object_id               description     score
0           33644                    weapon  0.843683
1           33644                   product  0.780845
2           33644                    dagger  0.519575
3          363331                    sketch  0.757690
4          363331                   drawing  0.719121
5          363331                    relief  0.540961
6           14630             picture frame  0.737246
7           14630                 rectangle  0.534322
8           14630                  material  0.531604
9          263204                    circle  0.678314
10         263204                  lighting  0.649798
11         263204                     shape  0.605284
12         256040                     green  0.924112
13         256040                    circle  0.670430
14         256040                    spiral  0.629578
15         256040                  dishware  0.538543
16          52456           black and white  0.920280
17          52456  blue and white porcelain  0.708494
18          52456    monochrome photography  0.688066
19          52456                monochrome  0.659130
20          52456                   drawing  0.622525
21          76974                     green  0.855991
22          76974                  army men  0.747405
23          76974                 sculpture  0.674821
24          76974                       art  0.663452
25          76974                 furniture  0.644906
26          46955                      vase  0.921962
27          46955                     green  0.857920
28          46955               bowling pin  0.736021
29          46955                   ceramic  0.699217
...           ...                       ...       ...
935246     283176                photograph  0.935095
935247     283176                     image  0.901626
935248     283176                  painting  0.881710
935249     283176                       art  0.685077
935250     283176           musical theatre  0.597613
935251     442183                     image  0.902066
935252     442183                  painting  0.877129
935253     442183                       art  0.662710
935254     442183                    temple  0.562818
935255     442183           ancient history  0.552746
935256     436885                  painting  0.913811
935257     436885                modern art  0.816417
935258     436885                       art  0.760840
935259     436885           ancient history  0.759777
935260     436885               middle ages  0.645703
935261     436927                photograph  0.935644
935262     436927           black and white  0.919958
935263     436927                    people  0.905770
935264     436927                     image  0.902940
935265     436927           ancient history  0.763157
935266     437525                  painting  0.883032
935267     437525                 mythology  0.763806
935268     437525                       art  0.704307
935269     437525            nativity scene  0.565195
935270     437525           ancient history  0.548226
935271     435900                  painting  0.944320
935272     435900                modern art  0.703799
935273     435900                       art  0.701629
935274     435900                 mythology  0.605626
935275     435900                     mural  0.599542

[935276 rows x 3 columns]

## Extract entities from a tweet via the Cloud Natural Language API

In [346]:
def extract_entities(text):
    # [START language_quickstart]
    # Imports the Google Cloud client library
    # [START migration_import]
    from google.cloud import language
    #from google.cloud.language import enums
    #from google.cloud.language import types
    # [END migration_import]

    # Instantiates a client
    # [START migration_client]
    client = language.Client()
    # [END migration_client]
    document = client.document_from_text(content=text)

    # analyze the feeling of the text
    sentiment = document.analyze_sentiment()
    print text
    print('Score: {}'.format(sentiment.sentiment.score))
    print('Magnitude: {}'.format(sentiment.sentiment.magnitude))
    
    
    # extract the entities from the text
    entities = document.analyze_entities().entities
    
    for ent in entities:
      print('Name: {}'.format(ent.name))
      print('Salience: {}'.format(ent.salience))
    
    return entities, sentiment

In [218]:
for i in got_eng.sample()["Text"]:
    print i, len(i)

Imagine staying with Game of Thrones this long just so you could tweet "um actually the show this bad" when they finally do a great episode 139

In [343]:
def extract_image(word):
    query = 'SELECT a.object_id, b.description, b.score FROM `bigquery-public-data.the_met.vision_api_data` as a, unnest(labelAnnotations) as b where REGEXP_CONTAINS(b.description, r\'^'+word+'$\') order by 3 desc'
    match = bq.Query(query).execute().result()#.to_dataframe() #.set_index('object_id') #to set an index from the rows
    if match.length>0:
        res = match.to_dataframe()
        print "Found "+str(len(res))+" results matching with word : " + word
    else:
        res = 1
        print "No matching found for word : " + word
    return res

In [377]:
for t in got_eng.sample()["Text"]:
    tweet = t
#tweet = "I love Sansa's dress in the last episode of Game of Thrones"
#tweet = "Earned 1 PSN trophy (1 silver) in Game of Thrones - https://t.co/QOY2DA7S8d"
entities, sentiment = extract_entities(tweet)

Earned 1 PSN trophy (1 silver) in Game of Thrones - https://t.co/QOY2DA7S8d
Score: 0.3
Magnitude: 0.3
Name: trophy
Salience: 0.5111663
Name: PSN
Salience: 0.3259483
Name: Game of Thrones
Salience: 0.16288543

## Match a tweet to an image

In [378]:
for ent in entities:
    res = extract_image(ent.name)
    # if there was a match for the word
    if type(res) != type(1):
        break
        
# if none of the words match
if type(res) == type(1):
    # negative sentiment
    if sentiment.sentiment.score < -0.6:
        res = extract_image("red")
    # positive sentiment
    elif sentiment.sentiment.score > 0.6:
        res = extract_image("green")
    else:
        res = extract_image("white")

Found 452 results matching with word : trophy

In [303]:
res

   object_id description     score
0     322608      museum  0.815490
1     549495      museum  0.747989
2     466313      museum  0.712616
3      35928      museum  0.711160
4     549493      museum  0.702548
5      21926      museum  0.672080
6      49119      museum  0.639597
7     543937      museum  0.631614
8     590946      museum  0.611085
9     438024      museum  0.586542

## Display the associated image

In [379]:
query = 'SELECT original_image_url as url FROM `bigquery-public-data.the_met.images` where object_id='+str(res["object_id"][0])
image = bq.Query(query).execute().result().to_dataframe()
Image(url=image.get('url')[0])